[Desktop Entry]
Version=1.0
Name=Play it Slowly
GenericName=Music Practice Player
Comment=Play music slower or at another pitch to practise and transcribe
Comment[fr]=Un outil pour lire un morceau de musique à différentes vitesses ou tonalités
Icon=ch.x29a.playitslowly
Type=Application
Categories=AudioVideo;Audio;Player;
Keywords=slow;speed;tempo;pitch;transpose;loop;practice;transcribe;
MimeType=audio/mpeg;audio/x-wav;audio/wav;audio/flac;audio/x-flac;audio/ogg;audio/x-vorbis+ogg;audio/x-opus+ogg;audio/mp4;audio/x-m4a;audio/aac;audio/webm;
StartupWMClass=ch.x29a.playitslowly
Terminal=false
Exec=playitslowly %U
